<div class="stream-sidebar" style="width:200px; height:950px; float:left; color:ghostwhite; border-right:1px lightgray solid;">
  <!-- stream sidebar -->
  <div id="stream-list-header" class="stream-list-header" style="width:100%; height:75px; position:relative; display:flow-root; background:#878787; border-top:1px lightgray solid; z-index:100;">
    <div class="clock" style="width:100%; height:50px; padding:10px 5px; text-align:center;">
      {{clock}}
    </div>
    <div style="width:100%; height: 25px; padding:5px; text-align:center;">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </div>
  </div>
  
  <div class="stream-list-body" style="box-sizing:border-box; width:100%; height:875px; background:#707070;">
    <!-- stream information (repeats for each stream) -->
    <div class="stream" *ngFor='let stream of streams; let c = index;' style="width:100%; height:175px; padding:5px;">
      <div class="stream-header">
        {{stream.id}}
        <div class="stream-controls">
          <span class="glyphicon glyphicon-expand" style="color:lightgray;"></span>
          <span class="glyphicon glyphicon-record" style="color:red;"></span>
        </div>
      </div>

      <div class="stream-details">
        <div class="detail-row">
          <label class="detail-label">Name:</label>
          <input class="detail-control" [value]="stream.name">
        </div>
        <div class="detail-row">
          <label class="detail-label">IP Source:</label>
          <input class="detail-control" [value]="stream.ipSource">
        </div>
        <div class="detail-row">
          <label class="detail-label">Location:</label>
          <input class="detail-control" [value]="stream.destination">
        </div>
        <div class="detail-row">
          <label class="detail-label">Aspect:</label>
          <input class="detail-control" [value]="stream.aspectRatio">
        </div>
      </div>
    </div>

  </div>
</div>